{% extends 'base.html' %}

{% block main %}

        <!-- About Content -->
        <div id="content" class="site-content">

            <article>
                <div class="content-1070 center-relative entry-content">
                    <div class="content-900 center-relative">
                        <h1 class="entry-title">about nerdymark</h1>
                        <div class="one_half ">
                            <p>I'm Mark, a data scientist and software engineer. I work as a software developer with Python, Powershell, and Go in the context of Microsoft Windows Security and Microsoft System Center products. I'm equally comfortable in a Linux environment.</p>
                            <br>
                            <p>My background is in programming and system administration. My current job is automating security compliance tied in with customer communications.</p>
                        </div>
                        <div class="one_half last">
                            <p>I've been playing the guitar for over 20 years and creating generative art for 3 years. I love to make projects out of electronics, and my favorite things are soldering things together, playing PC games, and emulating classic games on a Raspberry Pi. I play guitar when I have time and privacy.</p><br>
                            <p>Mark is an engineer at heart, with a passion for music and generative art.</p><br>
                        </div>
                        <div class="clear"></div>
                        <br>
                        <br>
                        <div class="clear"></div>
                    </div>
                    <div class="page-full-width ">
                        <div class="team-holder ">
                            <div class="member relative one ">
                                <img src="/images/marky.png" alt="the hero of our story">
                                <div class="member-info">
                                    <div class="member-name">MARK LACORE</div>
                                    <div class="member-position">TECHNOLOGIST</div>
                                    <div class="member-content">
                                    <p></p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </article>
        </div>
{% endblock %}
