{% extends 'base.html' %}

{% block main %}
        <!-- Contact Content -->
        <div id="content" class="site-content">
            <article>
                <div class="content-1070 center-relative entry-content">
                    <div class="content-900 center-relative">
                        <h1 class="entry-title">contact</h1>
                        <div class="one_half ">
                            You can find me online in a few different places.<p></p>
                            <br>
                            <div class="montserrat">
                                <ul>
                                    <li><i class="fa-solid fa-map"></i> San Jose, California, United States</li>
                                    <li><i class="fa-solid fa-envelope"></i> <a href=mailto:mark@nerdymark.com>mark@nerdymark.com</a></li>
                                    <li><i class="fa-brands fa-twitter"></i> <a href="https://twitter.com/nerdymark">twitter/nerdymark</a></li>
                                    <li><i class="fa-brands fa-youtube"></i> <a href="https://youtube.com/nerdymark">youtube/nerdymark</a></li>
                                    <li><i class="fa-brands fa-instagram"></i> <a href="https://instagram.com/nerdymark">instagram/nerdymark</a></li>
                                    <li><i class="fa-brands fa-tiktok"></i> <a href="https://tiktok.com/@nerdymark">tiktok/nerdymark</a></li>
                                    <li><i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/in/marklacore/">linkedin/marklacore</a></li>
                                    <li><i class="fa-brands fa-github"></i> <a href="https://github.com/nerdymark">github/nerdymark</a></li>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </article>
        </div>
{% endblock %}