{% extends 'base.html' %}

{% block main %}

        <!-- Resume Content -->
        <div id="content" class="site-content">
            <article>
                <div class="content-1070 center-relative entry-content">
                    <div class="content-900 center-relative">
                        <h1 class="entry-title">Mark LaCore</h1>
                        <div class="two_third">
                            <div class="resume">
                                <h2 class="entry-title">What I do best</h2>
                                <ul>
                                    <li>Design and develop organization-wide IT solutions</li>
                                    <li>Utilize ITIL service model to streamline IT processes</li>
                                    <li>Work closely with all support tiers to develop a cycle of continuous service improvement</li>
                                    <li>Use all tools at my disposal to improve IT service delivery and resource performance</li>
                                    <li>Forecast resource utilization and identify future needs</li>
                                    <li>Develop custom tools to reduce toil</li>
                                    <li>Develop and maintain documentation for all systems and processes</li>
                                    <li>Expert-level knowledge of all Windows OS</li>
                                    <li>Comfortable in any Linux, UNIX, or MacOS environment</li>
                                    <li>Useful with APIs</li>
                                    <li>Full-stack development experience</li>
                                </ul>
                                <h2 class="entry-title">Skills</h2>
                                <ul>
                                    <li>Virtualization</li>
                                    <ul>
                                        <li>VMware</li>
                                        <li>Hyper-V</li>
                                        <li>VirtualBox</li>
                                        <li>Parallels</li>
                                        <li>KVM</li>
                                        <li>QEMU</li>
                                    </ul>
                                    <li>Cloud Technologies</li>
                                    <ul>
                                        <li>Amazon Web Services <i class="fa-brands fa-aws"></i></li>
                                        <li>Microsoft Azure <i class="fa-brands fa-microsoft"></i></li>
                                        <li>Google Cloud Platform <i class="fa-brands fa-google"></i></li>
                                        <li>Private Cloud</li>
                                        <li>Hybrid Cloud</li>
                                        <li>Cloud Migration</li>
                                        <li>Secrets Management</li>
                                        <li>Infrastructure as Code</li>
                                        <li>CI/CD Pipelines</li>
                                        <li>Dockerfiles</li>
                                    </ul>
                                    <li>Containers</li>
                                    <ul>
                                        <li>Docker <i class="fa-brands fa-docker"></i></li>
                                        <li>Kubernetes</li>
                                    </ul>
                                    <li>Core Technologies</li>
                                    <ul>
                                        <li>Python <i class="fa-brands fa-python"></i></li>
                                        <li>Linux <i class="fa-brands fa-linux"></i></li>
                                        <li>Windows <i class="fa-brands fa-windows"></i></li>
                                        <li>PowerShell</li>
                                        <li>MacOS</li>
                                        <li>Networking</li>
                                        <li>Security</li>
                                        <li>Automation</li>
                                        <li>Scripting</li>
                                        <li>DevOps</li>
                                        <li>Full-Stack Development</li>
                                        <li>Web Development</li>
                                        <li>Database Management</li>
                                        <li>Git</li>
                                        <li>Active Directory</li>
                                        <li>Microsoft System Center</li>
                                        <li>Microsoft Exchange</li>
                                        <li>Compliance & Baselines</li>
                                        <li>Web</li>
                                        <li>IPv4 and IPv6 Address Management</li>
                                    </ul>
                                    <li>Maker Skills</li>
                                    <ul>
                                        <li>3D Printing</li>
                                        <li>Woodworking</li>
                                        <li>Electronics</li>
                                        <li>Arduino</li>
                                        <li>Raspberry Pi</li>
                                        <li>Micropython</li>
                                        <li>Bluetooth and BLE</li>
                                        <li>WS2812 and NeoPixel Projects</li>
                                        <li>Home Automation</li>
                                        <li>Home Assistant</li>
                                        <li>HomeKit</li>
                                </ul>
                                <h2 class="entry-title">Certifications</h2>
                                <ul>
                                    <li>MCSE - Microsoft Ceritified System Engineer</li>
                                    <li>MCSA - Microsoft Certitfied Solutions Associate</li>
                                    <ul>
                                        <li>Windows Server 2012</li>
                                    </ul>
                                    <li>MCITP - Microsoft Certified IT Professional</li>
                                    <ul>
                                        <li>Virtualization Administrator on Windows Server 2008 R2</li>
                                    </ul>
                                    <li>MCTS - Microsoft Certified Technology Specialist</li>
                                    <ul>
                                        <li>System Center Configuration Manager 2007, Configuration</li>
                                        <li>Windows Server 2008 R2, Desktop Virtualization</li>
                                        <li>Windows Server 2008 R2, Server Virtualization</li>   
                                    </ul>
                                    <li>MCP, MCP+I</li>
                                    <li>RHCSA - Redhat Certified Systems Administrator - RedHat Enterprise Linux 5</li>
                                    <li>RHCT - RedHat Certified Systems Technician - RedHat Enterprise Linux 5</li>
                                </ul>
                                <h2 class="entry-title">Professional Experience</h2>
                                <strong>Sr. Software Engineer at Apple <i class="fa-brands fa-apple"></i></strong><br />
                                <strong class="cat-links">Sunnyvale, CA, Remote, 2017 - Present</strong>
                                <ul>
                                    <li>Helped develop an onboarding process for onboarding gen-pop Windows systems into internal security platforms</li>
                                    <li>Helped build, design, and maintain a SCCM environment for Windows systems</li>
                                    <li>Developed and maintained several security tools and microservices to automatically onboard Windows systems into internal securtity platforms</li>
                                </ul>
                                <strong>Sr. Systems Administrator at Theranos <i class="fa-duotone fa-circle"></i></strong><br />
                                <strong class="cat-links">Palo Alto, CA, 2012 - 2016</strong>
                                <ul>
                                    <li>Utilize Configuration  Manager for ongoing configuration management, reporting, patch management, and compliance enforcement</li>
                                    <li>Creation and maintanance of Windows images, Embedded and non-Embedded</li>
                                    <li>Developed zero-touch computer provisioning task sequences for Desktop team</li>
                                    <li>Development of SCCM Application deployment packages</li>
                                    <li>Remediation of problems and risks via script or Configuration Baselines</li>
                                    <li>Testing and deployment of security updates and patches</li>
                                    <li>Utilize Operations Manager for event and performance monitoring</li>
                                    <li>Utilize System Center Orchestrator to automate IT processes, new hires, terminations</li>
                                    <li>Utilize System Center Service Manager for incident and change management</li>
                                    <li>Designed Retail / Wellness Center IT support infrastructure</li>
                                    <li>Developed locked-down Windows image for Retail points of sale</li>
                                    <li>Developed media delivery system for Wellness center lobbies based on the Raspberry Pi computer and Drupal</li>
                                </ul>
                                <strong>Systems Engineer at ZAG Technical Services</strong><br />
                                <strong class="cat-links">San Jose, CA, 2007 - 2012</strong>
                                <ul>
                                    <li>Provided customer support for general Windows Client/Server customers</li>
                                    <li>Scope of work involved System Center Configuration Manager, Microsoft Exchange, Linux, Active Directory, and Citrix</li>
                                    <li>Developed and maintained custom tools for internal use</li>
                                </ul>
                                <strong>Sr. Systems Administrator at Edge Group</strong><br />
                                <strong class="cat-links">Las Vegas, NV, 2005 - 2007</strong>
                                <ul>
                                    <li>Designed entire network infrastructure</li>
                                    <li>Tech stack based on Active Directory, Exchange, and BlackBerry</li>
                                    <li>Provided IT support for all users</li>
                                </ul>
                                <strong>Windows Systems and Helpdesk Adminsitrator at Brocade</strong><br />
                                <strong class="cat-links">San Jose, CA, 2002 - 2005</strong>
                                <ul>
                                    <li>Provided IT support for all users</li>
                                    <li>Server Rack & Stack for IT and User use</li>
                                    <li>Maintained McAfee ePolicy Orchestrator</li>
                                </ul>
                                <strong>Desktop Support Technician at Yahoo! <i class="fa-brands fa-yahoo"></i></strong><br />
                                <strong class="cat-links">Sunnyvale, CA, 2000 - 2001</strong>
                                <ul>
                                    <li>Provided 2nd-tier desktop support to local users</li>
                                    <li>Assisted in the deployment of Windows 2000</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <br>
                        <br>
                        <div class="clear"></div>
                    </div>
                    <div class="page-full-width ">
                        <div class="team-holder ">
                            <div class="member relative one ">
                                <img src="/images/marky.png" alt="the hero of our story">
                                <div class="member-info">
                                    <div class="member-name">MARK LACORE</div>
                                    <div class="member-position">TECHNOLOGIST</div>
                                    <div class="member-position">DOWNTOWN SAN JOSE</div>
                                    <div class="member-position">
                                    <a href="mailto:mark@nerdymark.com?subject=Contact Request">mark@nerdymark.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </article>
        </div>
{% endblock %}
